{% extends 'page1.html' %}
{% block content %}
<body>
    
    <div class="container">
        <h1>Contact us</h1>
        <div class="container">
        <form action="">
            <div class="form-group">
                <label for="">full name</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="">Address</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea  class="form-control" rows="10" cols="30"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">submit</button>
            </div>

        </form>

        <h3>Location:</h3>
            1st Floor - Thapasya Building Infopark
            Kakkanad, Cochin

            <h3>Email:</h3>
            Info@ altostechnologies.com

            <h3>Call:</h3>
            +91 90741 56818


        

    </div>
</body>

</html>
{% endblock %}